.content {
    display: flex;
    justify-content: center;
}

.page-turning {
    display: flex;
    justify-content: center;
}

#item-list {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-between; */
    width: 60%;
}

.item-wrapper {
    width: 300px;
    /* width:33.333333333% */
    height: 150px;
    background: #4cd8e0;
    margin: 20px 15px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}

.item-wrapper .item-id {
    height: 70px;
    width: 70px;
    background: #20b6d2;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 28px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.87);
    position: absolute;
    top: -15px;
    left: -15px;
}

.item-wrapper .item-icon {
    font-size: 60px;
    color: black;
    position: absolute;
    top: 25px;
    left: 120px;
}

.item-wrapper .item-visited {
    font-size: 20px;
    font-weight: 550;
    color: white;
    position: absolute;
    top: -2px;
    right: 70px;
}

.item-wrapper .item-comment {
    font-size: 20px;
    font-weight: 550;
    color: white;
    position: absolute;
    top: -1px;
    right: 28px;
}

.item-wrapper .item-title {
    height: 45px;
    width: 100%;
    text-align: center;
    line-height: 45px;
    font-size: 14px;
    font-weight: 400;
    background: #00474c;
    color: #fff;
    position: absolute;
    bottom: 0px;
}
.item-wrapper .item-title #addShop{
    position: absolute;
    height: 32px;
    width: 32px;
    padding: 0;
    margin: 0;
    right: 5px;
    top:50%;
    margin-top:-16px ;
}

#nav-page {
    width: 30%;
    padding-top: 30px;
    justify-content: space-between;
}

#nav-page>a,#nav-page>.other-page {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
    bottom: 12px;
    background-color: white;
    border:1px solid #000;
    transition: background-color 0.4s;
    margin: 0px 5px;
}

#nav-page>.cur-page{
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    color: white;
    background: #ee6e73;
    transition: background-color 0.4s;
    border-radius: 3px;
    position: relative;
    bottom: 12px;
    margin: 0px 5px;
}

aside{
    position: fixed;
    top:10px;
    right: 30px;
    width:200px;
    background-color: gray;
}

#addOrderNum,#subOrderNum{
    width: 24px;
    height:24px;
    padding: 0;
    margin: 0;
}

.clearAll-btn{
    width:100%;
    height: 32px;
    padding: 0;
    margin: 0 auto;
}