<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>翻页</title>
    <link rel="stylesheet" href="/stylesheets/page_turn.css">
    <link rel="stylesheet" href="/stylesheets/iconfont/iconfont.css">
</head>
<body>
    <div class="main">
        <div>首页</div>
        <section class="content">
            <div id="item-list"></div>
        </section>
        <nav class="page-turning">
            <div id="nav-page"></div>
        </nav>
    </div>
    <script src="/javascripts/page_turn.js"></script>
</body>
</html>