body {
    margin: 0;
}

a {
    outline: none;
    text-decoration: none;
    background-color: transparent;
}

a,
a:hover {
    color: #f4645f;
}


.header-main {
    padding: 40px 0 20px 0;
    background: url(https://www.golaravel.com/assets/images/header-bg.jpg);
    background-position-x: 50%;
    background-position-y: 20%;
}

.header-main h1 {
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 42px;
    margin-bottom: 45px;
}

.docs {
    display: flex;
    justify-content: center;
}

.btn-doc {
    text-decoration: none;
    color: white;
    border: 1px solid rgb(240, 56, 49);
    border-radius: 2px;
    padding: 7px 14px;
    font-size: 14px;
    margin: 2px;
}

.btn-doc:hover {
    background: black;
    color: white;
    border: 1px solid black;
}

nav {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #e1e1e1;

}

nav .link {
    color: #505050;
    text-decoration: none;
    margin: 20px 30px;
    font-size: 14px;
}

nav a:nth-child(3) {
    font-weight: bold;
}

.main {
    background: #ebebeb;
    padding: 40px 0;
}

.main-container {
    display: flex;
    justify-content: space-between;
}

.container {
    overflow: hidden;
    max-width: 1170px;
    margin: 0 auto;
}

.content {
    /* height: 500px; */
    /* background-color: yellow; */
    width: 66%;
}

.post {
    padding: 35px;
    background: #fff;
    margin-bottom: 35px;
    position: relative;
    overflow: hidden;
}

.post .post-head {
    text-align: center;
}

.post .post-head .post-title {
    margin: 0;
    font-size: 2em;
    line-height: 1.2em;
    font-weight: 400;
    color: #303030;
}

.post .post-head .post-title a {
    text-decoration: none;
    color: #303030;
}

.post .post-head .post-meta {
    color: #959595;
    margin: 14px 0 0;
}

.post .post-head .post-meta span {
    margin: 0 7px;
    white-space: nowrap;
}

.post .featured-media {
    margin-top: 30px;
    overflow: hidden;
}

.post .featured-media img {
    width: 100%;
}

.post-content {
    font: 400 18px/1.62 Georgia, Xin Gothic, Hiragino Sans GB, Droid Sans Fallback, Microsoft YaHei, sans-serif;
    color: #444443;
}

.post-content p {
    margin-top: 0;
    margin-bottom: 1.46em;
}

.post-permalink .link-btn {
    display: inline;
}

.post .post-footer {
    margin-top: 30px;
    border-top: 1px solid #ebebeb;
    padding: 21px 0 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.clearfix:before {
    display: table;
    content: " ";
}

aside {
    /* height: 500px; */
    /* background:white; */
    width: 30%;
    font-size: 14px;
}

aside .widget {
    background: white;
    margin-bottom: 30px;
    /* height    : 40px; */
    padding: 20px;
}

.widget .title {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 7px;
    border-bottom: 1px solid #ebebeb;
    position: relative;
}

.widget .title:after {
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 1px;
    background: #f4645f;
    bottom: -1px;
}

.faq-link {
    text-decoration: none;
    color: #f4645f;
}

.faq-link .iconfont {
    font-size: 14px;
    padding-right: 5px;
}

.link-btn {
    text-align: center;
    text-decoration: none;
    border: 1px solid #f4645f;
    background: #f4645f;
    color: #fff;
    transition: all .2s ease-in-out;
    padding: 7px 14px;
    border-radius: 2px;
    display: block;
    margin: 10px 0;
}

.link-btn:hover {
    border: 1px solid #303030;
    background: #303030;
    color: #fff;
}

.footer {
    /* height: 300px; */
    background: #202020;
    padding: 35px 0 0;
    color: #505050;
    font-family: Helvetica Neue, Helvetica, Arial, Hiragino Sans GB, Hiragino Sans GB W3, WenQuanYi Micro Hei, Microsoft YaHei UI, Microsoft YaHei, sans-serif;
    font-size: 14px;
    line-height: 1.75em;
}

.footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer .container .widget {
    width: 33%;
    padding: 0 15px 15px 15px;
}

.footer .container .widget h4 {
    color: white;
    margin-bottom: 21px;
    border-bottom: 1px solid #303030;
}

.recent-single-post {
    border-bottom: 1px dashed #303030;
    padding-bottom: 14px;
    margin-bottom: 14px;
}

.content.tag-cloud.friend-links a {
    border: none;
}

.footer .container .widget a {
    color: #959595;
}

.footer .container .widget a:hover {
    color: #f4645f;
}


.widget .tag-cloud a {
    border: 1px solid #303030;
    padding: 2px 7px;
    color: #959595;
    line-height: 1.5em;
    display: inline-block;
    margin: 0 7px 7px 0;
    transition: all .2s ease;
}

.widget .tag-cloud a:hover {
    color: #fff !important;
    background: #f4645f;
    border: 1px solid #f4645f;
    text-decoration: none;
}

.widget .friend-links hr {
    border: none;
    margin: 1em 0;
    border-top: 1px dashed #303030;
}


.copyright {
    background: #111;
    font-size: 13px;
    text-align: center;
    color: #555;
    padding-top: 28px;
    padding-bottom: 28px;
    border-top: 1px solid #303030;
}

.copyright a {
    color: #555;
}

.copyright a:hover {
    text-decoration: underline;
}