* {
    padding: 0;
    margin: 0;
    color: #555;
}

nav {
    position: fixed;
    display: flex;
    position: relative;
    background-color: #f8f8f8;
    margin: 10px auto;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    align-items: center;
    width: 99%;
    top: 0;
    left: 0;
    /* overflow: hidden; */
    line-height: 50px;
}


.navbar-brand {
    font-weight: 500;
    text-decoration: none;
    padding:0 10px;
}

.container-fluid {
    display: flex;
}

.navbar-nav {
    display: flex;
}

.navbar-nav li {
    list-style: none;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.navbar-nav>li:nth-child(1){
    background-color: #e7e7e7;
}

.navbar-nav li:hover {
    background-color: #e7e7e7;
}

.navbar-nav>li>a {
    padding: 0 30px;
    text-decoration: none;
}

.dropdown-menu {
    display: none;
}

/* .dropdown:hover>.dropdown-menu{ */
.dropdown.open>.dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    z-index: 1000;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu>li>a {
    text-decoration: none;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

@media screen and (max-width:768px) {
    nav {
        height: auto;
    }

    .container-fluid {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .navbar-header {
        width: 100%;
        padding-left: 10px;
    }

    .navbar-nav {
        flex-direction: column;
        position: relative;
        width: 100%;
    }

    .navbar-nav>li:hover {
        background-color: transparent;
    }

    .navbar-nav>li>a {
        padding: 0 0 0 20px;
    }

    .nav.navbar-nav>li {
        width: 100%;
    }

    .dropdown.open>a{
        display: block;
        width:100%;
        background-color: #e7e7e7;
    }
    .dropdown.open>.dropdown-menu {
        position: static;
        /* float: none; */
        width: 100%;
        margin: 0;
        padding:0;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
    .dropdown.open>.dropdown-menu>li{
        padding-left: 20px;
    }
    .dropdown.open>.dropdown-menu>li:hover {
        background-color: transparent;
    }
    /* .dropdown-menu.divider{
        padding:0;
    } */

}